POSTGRES_USER=postgres
POSTGRES_PASSWORD
DB_NAME=transcendence_db
POSTGRES_DB=transcendence_db
POSTGRES_HOST=transcendence_db
POSTGRES_PORT=5432
FORTY_TWO_CLIENT_ID
FORTY_TWO_CLIENT_SECRET
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_FRONTEND_URL=http://localhost:8080
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER
MAIL_PASSWORD
MAIL_FROM=42 Connect <your.gmail.address@gmail.com>