POSTGRES_USER=postgres
POSTGRES_PASSWORD
DB_NAME=transcendence_db
POSTGRES_DB=transcendence_db
POSTGRES_HOST=transcendence_db
POSTGRES_PORT=5432
FORTY_TWO_CLIENT_ID
FORTY_TWO_CLIENT_SECRET
FORTY_TWO_REDIRECT_URI=https://localhost/api/auth/oauth2/callback/42school
BETTER_AUTH_URL=https://localhost
NEXT_PUBLIC_API_URL=https://localhost
NEXT_PUBLIC_FRONTEND_URL=https://localhost
NEXT_INTERNAL_API_URL=https://proxy/api
CADDY_INTERNAL_CA_CERT=/caddy-data/caddy/pki/authorities/local/root.crt
MESSAGE_ENCRYPTION_KEY
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER
MAIL_PASSWORD
MAIL_FROM=42 Connect <your.gmail.address@gmail.com>
